
.Header {
  a {
    font-size: $size-larger;
  }
  .nuxt-link-exact-active {
    @extend %links-bg;
    @extend %font-bold;
  }
  .Header-orgs.nuxt-link-active {
    @extend %links-bg;
    @extend %font-bold;
  }
}

.Footer {
  a {
    border: 0;
    // font-weight: 900;
    // color: $color-body;

    &:hover {
      // @extend %ease;
      // color: $color-hover;
      // padding-left: $offset*3;
      // &:after {

      //   left: $offset *3;
      // }
    }
  }
}




.OrgPage {
  .OrgPage-image-container {
    margin-bottom: $size-base;
  }
  .OrgPage-title {
    // padding-bottom: 0;
  }
  .OrgPage-tags {
    // margin-bottom: $size-2;
    ._tag {
      background-color: $color-white;
    }
  }
  .OrgPage-sidebar {
    &, *, p {
      @extend %font-sans;
    }
    a {
      text-decoration: none !important;
      border: 0;
    }
  }
  .OrgPage-link {
    font-size: $font-large;
  }
}




