
.Header {
  a {
    font-size: $size-larger;
  }
  .nuxt-link-exact-active {
    @extend %links-bg;
    @extend %font-bold;
  }
  .Header-orgs.nuxt-link-active {
    @extend %links-bg;
    @extend %font-bold;
  }
}

.Footer {
  a {
    border: 0;
    // font-weight: 900;
    // color: $color-body;

    &:hover {
      // @extend %ease;
      // color: $color-hover;
      // padding-left: $offset*3;
      // &:after {

      //   left: $offset *3;
      // }
    }
  }
}




.DetailsPage {
  .DetailsPage-image-container {
  }
  .DetailsPage-image {
    max-height: 50px;
    width: auto;
  }
  .DetailsPage-title {
    // padding-bottom: 0;
  }
  .DetailsPage-tags {
    // margin-bottom: $size-2;
    ._tag {
      background-color: $color-white;
    }
  }
  .DetailsPage-sidebar {
    &, *, p {
      @extend %font-sans;
      font-size: 15px;
      line-height: 22px;
    }
    a {
      text-decoration: none !important;
      border: 0;
    }
    .DetailsPage-sidebar-header {
      font-size: 12px;
    }
  }
  .DetailsPage-link {
    font-size: $font-large;
  }
  .DetailsPage-lineheader {
    font-weight: bold;
  }
  .DetailsPage-small {
    font-size: $font-small;
    line-height: $font-small + 6px;
    font-style: italic;
    // @extend %font-serif;
  }
  .DetailsPage-no_paragraphs {
    p {
      display: inline;
      margin: 0;
    }
  }
}










